<% @tips.each do |tip| %>
  <div class = "row">
    <div class="col-md-1">
      <%= tip.start_date %>
    </div>
    <div class="col-md-1">
      <%= tip.end_date %>
    </div>       
    <div class="col-md-1">
      <%= tip.monday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.tuesday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.wednesday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.thursday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.friday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.saturday_amount %>
    </div>
    <div class="col-md-1">
      <%= tip.sunday_amount %>
    </div>
    <div class="col-md-2">
    </div> 
    <div class="col-md-1">
      <%= link_to("Show", tip)%>
      <%= link_to("Edit", edit_tip_path(tip))%>
      <%= link_to("Destroy", tip, method: :delete, data: { confirm: 'Are you sure?'})%>
    </div>
  </div>        
<% end %>

 



